    #title{
                background-color: rgb(255, 255, 255);
                color: black;
                padding: 60px;
                font-family: Arial, Helvetica, sans-serif;
                width: auto;
                position: relative;
                

    }

    #image{
        padding-left: 40%;
        padding-right: 50%;
        padding-top: 5%;
        position: relative;
    }

    #characters{
        height: auto;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2%;
        position: relative;
    }

    #leadbd{
        padding-left: 40%;
        width: auto;
        height: auto;
        font-size: x-large;
    }

    #ldbtitle{
        position:relative;
        padding-left: 45%;
    }

    #sceneOne{
        background-color: rgb(112, 126, 172);
        font-family: 'Courier New', Courier, monospace;
        color: black;
        margin: 100;   
    }

    #polDi{
        color: aliceblue;
        font-size: xx-large;
        margin-top: 100px;
        margin-left: 50px;
    }

    #q1{
        color: black;
        margin-top: 200px;
        margin-left: 900px;
    }

    #op1{
        border-width: 100px;
        border-style:groove;
        border-color: black;
        margin-left: 100px;
        margin-top: 100px;
        margin-right: 200px;
        font-size: x-large;
    }

    #op2{
        margin-left: 1500px;
        margin-top: -150px;
        font-size: x-large;
    }

    #alib{
        font-size: xx-large;
        margin-inline-start: auto;
        margin-inline-end: auto;
    }