    #title{
                background-color: rgb(255, 255, 255);
                color: black;
                padding: 60px;
                font-family: Arial, Helvetica, sans-serif;
                width: auto;
                position: relative;
                

    }

    #image{
        padding-left: 40%;
        padding-right: 50%;
        padding-top: 5%;
        position: relative;
    }

    #characters{
        height: auto;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2%;
        position: relative;
    }

    #leadbd{
        padding-left: 40%;
        width: auto;
        height: auto;
        font-size: x-large;
        column-gap: 20px;
    }

    #ldbtitle{
        position:relative;
        padding-left: 45%;
    }
